:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 800;
  font-size: 65px;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 23px;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 45px;
  font-weight: 800;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.main-avatar {
  width: 150px;
  border-radius: 100px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  padding: 15px 40px;
}

.project-description {
  padding: 120px 60px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  padding: 15px 40px;
}

.content-container {
  padding: 50px 20px;
}

.content-container p {
  margin-bottom: 0;
}

.more-information {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 15px 60px;
}

.about-image {
  border-radius: 5px;
}

.services-section {
  background-color: var(--secondary-color);
  padding: 70px 50px;
}

.services-section p {
  margin-bottom: 0;
}

.container-service {
  background-color: #fff;
  border-radius: 4px;
  margin: 10px;
  padding: 20px 30px;
}
.container-service h2 {
  font-size: 22px;
}
.service-icon {
  font-size: 30px;
  color: var(--branding-color);
}

.content h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 16px;
}

h4 {
  font-family: var(--default-font-family);
  line-height: 42px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

nav li.active a,
nav a:hover {
  color: var(--branding-color);
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

@media (max-width: 960px) {
  nav ul {
    display: contents;
  }
  h1 {
    font-size: 35px;
    line-height: 1.5;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 30px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 30px 20px;
  }
}
